:root {
    --primary-color: #046474;
    --secondary-color: #fff;
    --tertiary-color: #04647433;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Encode Sans", sans-serif;
}

.clearFix {
    clear: both;
}

.swp {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
}

/* header */

header {
    width: 100%;
    height: 110px;
    padding: 5px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
    z-index: 15;
}

header > div > img {
    height: 100%;
    width: 20%;
    float: left;
}

header > div > div:first-of-type {
    height: 100%;
    width: 60%;
    float: left;
    text-align: center;
    padding-top: calc((110px - 28px) / 2);
}

header > div > div:first-of-type a {
    font-size: 18px;
    padding: 10px 15px;
    background-color: var(--secondary-color);
    text-decoration: none;
    color: var(--primary-color);
    border-radius: 2px;
}

header > div > div:first-of-type a:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 5px;
}

header > div > div:first-of-type .activeHeaderTile {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
}

header > div > div:first-of-type .activeHeaderTile:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
}

header > div > div:nth-of-type(2) {
    height: 100%;
    width: 20%;
    float: left;
    text-align: center;
    padding-top: calc((100px - 32px) / 2);
    padding-right: 30px;
}

header > div > div:nth-of-type(2) i {
    font-size: 28px;
    letter-spacing: 5px;
    cursor: pointer;
    color: var(--primary-color);
}

/* main */

main > div > div:first-of-type {
    width: 100%;
    height: 600px;
}

main > div > div:first-of-type img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main > div > div:nth-of-type(2) {
    width: 100%;
    height: 300px;
}

main > div > div:nth-of-type(2) > div:first-of-type {
    width: 50%;
    height: 400px;
    float: left;
    background-color: var(--primary-color);
    position: relative;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

main > div > div:nth-of-type(2) > div h3 {
    width: 80%;
    font-size: 30px;
    text-align: center;
    color: var(--secondary-color);
    margin-top: calc((110px - 28px) / 2);
}

main > div > div:nth-of-type(2) > div p {
    width: 80%;
    text-align: center;
    color: var(--secondary-color);
    margin-top: calc((110px - 28px) / 2);
}

main > div > div:nth-of-type(2) > div:nth-of-type(2) {
    background-color: var(--secondary-color);
    width: 50%;
    height: 400px;
    float: left;
}

main > div > div:nth-of-type(2) > div iframe {
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    border: transparent;
    border-radius: 15px;
}

/* -- */

main > div > div:nth-of-type(4) {
    height: 1000px;
    position: relative;
    color: var(--primary-color);
}

main > div > div:nth-of-type(4)::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--tertiary-color);
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -700px 200px;
    filter: blur(5px); /* Adjust the blur radius as needed */
    clip-path: inset(0); /* This will clip the blurred edges */
    z-index: -1;
    transform: scaleX(-1);
}

main > div > div:nth-of-type(4) h2 {
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
    margin: calc((110px - 28px) / 2);
}

main > div > div:nth-of-type(4) p {
    color: var(--primary-color);
    text-align: center;
    margin: calc((110px - 28px) / 2);
}

/* -- */

main > div > div:nth-of-type(6) {
    height: 400px;
    background-image: url("../images/udtalelser_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

main > div > div:nth-of-type(6) h2 {
    text-align: center;
    margin: 0;
    padding: 30px;
    color: var(--secondary-color);
    font-weight: bold;
    height: 20%;
}

main > div > div:nth-of-type(6) > div {
    width: 50%;
    float: left;
    height: 80%;
    text-align: center;
}

main > div > div:nth-of-type(6) > div h3 {
    text-transform: uppercase;
    font-weight: bold;
}

main > div > div:nth-of-type(6) > div > div {
    width: 80%;
    margin-left: 10%;
    color: var(--secondary-color);
}

main > div > div:nth-of-type(6) > div > div > p > span {
    font-style: italic;
}

/* -- */
main > div > div:nth-of-type(8) {
    height: 400px;
}

main > div > div:nth-of-type(8) > div {
    width: 50%;
    height: 100%;
    float: left;
}

main > div > div:nth-of-type(8) > div > div {
    width: 50%;
    height: 100%;
    padding: 15px;
    float: left;
    text-align: center;
    margin-top: 30px;
}

main > div > div:nth-of-type(8) > div:nth-of-type(1) {
    background-color: var(--primary-color);
    position: relative;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: var(--secondary-color);
}

main > div > div:nth-of-type(8) > div:nth-of-type(2) {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

main > div > div:nth-of-type(8) > div > div i {
    font-size: 75px;
}

main > div > div:nth-of-type(8) > div > div h3 {
    margin: 15px 0;
    font-weight: bold;
}

/* -- */

main > div > div:nth-of-type(10) {
    height: 400px;
    background-image: url("../images/bornetelefonen_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


main > div > div:nth-of-type(10) img {
    height: 100%;
}

main > div > div:nth-of-type(10) h2 {
    text-align: center;
    margin: 0;
    padding: 30px;
    color: var(--secondary-color);
    font-weight: bold;
    height: 20%;
}

main > div > div:nth-of-type(10) > div {
    width: 50%;
    float: left;
    height: 80%;
    text-align: center;
}

main > div > div:nth-of-type(10) > div h3 {
    text-transform: uppercase;
    font-weight: bold;
}

main > div > div:nth-of-type(10) > div > div {
    width: 80%;
    margin-left: 10%;
    color: var(--secondary-color);
}

main > div > div:nth-of-type(10) > div > div > p > span {
    font-style: italic;
}

/* footer */

footer {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-top: 50px;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2);
}

footer .footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 200px;

}

footer .footer-container > div {
    width: calc(100% / 3);
    text-align: center;
}

footer .footer-container > div h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

footer .footer-container > div p {
    margin-bottom: 10px;
}
