<div class="swp">
    <div class="footer-container">
        <div>
            <h3>Fonden Soranahus</h3>
            <p>
                Døgnbehandling, BL §43<br/>
                Aflastning<br/>
                Familiesupervision<br/>
                BL §114 – Ungestøtte
            </p>
        </div>
        <div>
            <h3>Soranahus i Undløse</h3>
            <p>
                Hovedgaden 16<br/>
                4340 Tølløse<br/>
                Tlf.: 57 80 67 80<br/>
                Email: mail@soranahus.dk
            </p>
        </div>
        <div>
            <h3>Lovgivning</h3>
            <p>
                GDPR<br/>
                Privatliv- og databeskyttelse<br/>
                G-6 Facebook forbehold
            </p>
        </div>
    </div>
</div>