<div class="swp">
    <img onclick="window.location.href='#'" src="https://soranahus.dk/wp-content/uploads/2020/07/Sorana-EPS.svg" alt="Soranahus" />
    <div>
        <a href="#" class="activeHeaderTile">Om Soranahus</a>
        <a href="#">For sagsbehandlere</a>
        <a href="#">For den unge</a>
        <a href="#">Kontakt</a>
    </div>

    <div>
        <i onclick="window.open('https://www.facebook.com/soranahus','_blank')" class="fa fa-facebook-square" aria-hidden="true"></i>
        <i onclick="window.open('https://dk.linkedin.com/company/soranahus','_blank')" class="fa fa-linkedin-square" aria-hidden="true"></i>
        <i onclick="window.location.href='mailto:mail@soranahus.dk'" class="fa fa-envelope-square" aria-hidden="true"></i>
    </div>

    <div class="clearfix"></div>
</div>