@using Microsoft.AspNetCore.Components.Web
@namespace soranahus.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    	<base href="~/"/>
    	<link href="css/site.css" rel="stylesheet"/>
    	<link href="soranahus.styles.css" rel="stylesheet"/>
	    <script src="https://kit.fontawesome.com/d7cb81324e.js" crossorigin="anonymous"></script>
	    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	    <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900" rel="stylesheet">

    	<component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
	</head>
	<body>
		@RenderBody()
		<script src="_framework/blazor.server.js"></script>
	</body>
</html>
