@page "/"

<PageTitle>Soranahus</PageTitle>

<div class="swp">
    <div>
        <img src="images/hero.png" alt="Soranahus"/>
    </div>

    <div>
        <div class="w3-display-container">
            <h3 class="w3-display-middle">Børne- og ungehjem, der baner vejen<br/>til et godt liv!</h3>
        </div>
        <div class="w3-display-container">
            <p class="w3-display-middle">
                Soranahus er et børne- & ungehjem (før kaldet opholdssted), som
                hjælper unge med psykiske og sociale vanskeligheder gennem de
                svære teenageår og forbereder dem på en selvstændig
                voksentilværelse. Vi tilbyder døgnbehandling, aflastning, midlertidigt
                botilbud og ungestøtte i et højt fagligt miljø. Desuden tilbyder vi
                familiesupervision, som indgår uden merpris ved døgnanbringelse.
                <br/><br/>
                Soranahus er et familiært børne- og ungehjem med 11 pladser for
                unge mellem 12 og 18 år (mulighed for op til 25 år) som ligger i
                Undløse by, der ligger lidt syd for Holbæk, på Sjælland.
            </p>
        </div>
    </div>

    <div class="clearFix"></div>

    <div>
        <div class="w3-display-container">
            <iframe class="w3-display-middle" src="https://www.youtube.com/embed/JEI17oLuGk8?si=txkvQJjHZqKCG9Ve&autoplay=1&controls=1" allow="autoplay" allowfullscreen></iframe>
        </div>
        <div class="w3-display-container">
            <img class="w3-display-middle" src="images/bornetelefonen.png" alt="Børnetelefonen"/>
        </div>
    </div>

    <div class="clearFix"></div>

    <div>
        <div>
            <div class="w3-display-container">
                <div class="w3-display-topmiddle">
                    <i class="fa fa-bullseye" aria-hidden="true"></i>
                    <h3>Title</h3>
                    <p>Barnets Lov (BL) paragraf §43 (børne- og ungehjem) BL paragraf §114 (ungestøtte), samt Serviceloven §107 (midlertidigt voksentilbud).</p>
                </div>
            </div>
            <div class="w3-display-container">
                <div class="w3-display-topmiddle">
                    <i class="fa fa-bullseye" aria-hidden="true"></i>
                    <h3>Sagsbehandler</h3>
                    <p>Find oplysninger om visitationsproces, priser etc.</p>
                </div>
            </div>
        </div>
        <div>
            <div class="w3-display-container">
                <div class="w3-display-topmiddle">
                    <i class="fa fa-bullseye" aria-hidden="true"></i>
                    <h3>At bo her</h3>
                    <p>Til dig der overvejer at vælge Soranahus.</p>
                </div>
            </div>
            <div class="w3-display-container">
                <div class="w3-display-topmiddle">
                    <i class="fa fa-bullseye" aria-hidden="true"></i>
                    <h3>Familiesamarbejde</h3>
                    <p>Familiesupervision er en integreret del af døgnanbringelsen.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="clearFix"></div>

    <div class="w3-display-container">
        <h2 >Børne- og ungehjem - Udtalelser</h2>
        <div class="w3-display-container">
            <div >
                <h3>Meget kompetente</h3><br/>
                <p>
                    Personalet formår at give de unge mennesker en tryg hverdag<br/>
                    i faste rammer. De har de unges respekt og gennem deres<br/>
                    faglighed når de ind til de unge. Vi har været meget tilfredse.<br/><br/>

                    <span>Karina Elvison Bjørn</span> – Odense
                </p>
            </div>
        </div>
        <div>
            <div>
                <h3>Familieterapien på soranahus</h3><br/>
                <p>
                    Familieterapien på Soranahus har gjort vores familie stærk<br/>
                    igen, nu blomstrer vi sammen – ikke hver for sig<br/><br/>
                    
                    • Vi har lært at være ærlige sammen<br/>
                    • Vi kan rumme hinanden<br/>
                    • Vi kender hinanden, som vi er<br/>
                    • Vi respekterer hinanden<br/><br/>

                    <span>Heidi Søgaard</span></p>
            </div>
        </div>
    </div>
    
    <div class="clearFix"></div>
</div>

<!---->