@page "/"

<PageTitle>Soranahus</PageTitle>

<div class="swp">
    <div>
        <img src="images/hero.png" alt="Soranahus"/>
    </div>

    <div>
        <div class="w3-display-container">
            <h3 class="w3-display-topmiddle">Børne- og ungehjem, der baner vejen<br/>til et godt liv!</h3>
            <p class="w3-display-middle">
                Soranahus er et børne- & ungehjem (før kaldet opholdssted), som
                hjælper unge med psykiske og sociale vanskeligheder gennem de
                svære teenageår og forbereder dem på en selvstændig
                voksentilværelse. Vi tilbyder døgnbehandling, aflastning, midlertidigt
                botilbud og ungestøtte i et højt fagligt miljø. Desuden tilbyder vi
                familiesupervision, som indgår uden merpris ved døgnanbringelse.
                <br/><br/>
                Soranahus er et familiært børne- og ungehjem med 11 pladser for
                unge mellem 12 og 18 år (mulighed for op til 25 år) som ligger i
                Undløse by, der ligger lidt syd for Holbæk, på Sjælland.
            </p>
        </div>
        <div class="w3-display-container">
            <iframe class="w3-display-middle" src="https://www.youtube.com/embed/JEI17oLuGk8?si=txkvQJjHZqKCG9Ve&autoplay=1&controls=0&vq=hd1080&fs=1&modestbranding=1&showinfo=0&rel=0&iv_load_policy=3" allow="fullscreen" allowfullscreen></iframe>
        </div>
    </div>

    <div class="clearFix"></div>
    
        <div class="w3-display-container">
            <h2 class="w3-display-topmiddle">Velkommen til Soranahus!</h2>
                <p class="w3-display-middle">
                    Soranahus er et hjem for børn og unge, hvor omsorg, udvikling og fællesskab går hånd i hånd. Vi skaber trygge rammer, hvor hvert barn og ung kan finde støtte, få nye oplevelser og føle sig som en del af et varmt fællesskab. Vi tror på, at alle fortjener en stabil hverdag, der giver dem mulighed for at vokse og finde deres potentiale. Hos os handler det om at give hvert barn og ung den nødvendige omsorg og opmærksomhed, så de kan opnå en positiv udvikling og skabe meningsfulde relationer.<br/><br/>
                
                    Hos Soranahus tilbyder vi et bredt udvalg af aktiviteter, som er designet til at fremme socialt samvær, læring og kreativ udfoldelse. Det kan være alt fra kreative værksteder, hvor børnene får mulighed for at udtrykke sig gennem kunst og håndværk, til udendørsaktiviteter, der styrker deres motoriske færdigheder og giver dem mulighed for at nyde naturen. Vi arrangerer også sociale arrangementer, såsom fællesspisning, udflugter og temadage, som alle bidrager til at styrke fællesskabet og skabe gode minder for livet. Vores mål er at skabe et miljø, hvor børn og unge kan udvikle sig både socialt og personligt, med støtte fra vores engagerede medarbejdere, der altid er klar til at lytte, støtte og vejlede.<br/><br/>
                
                    Vores dedikerede personale består af pædagoger, socialrådgivere og andre fagfolk, som alle arbejder tæt sammen for at sikre, at hvert barn og ung får den støtte, de har brug for. Vi lægger vægt på individuelle behov og arbejder for at give alle den bedst mulige start på livet. Dette betyder, at vi fokuserer på at forstå det enkelte barns udfordringer og styrker og tilpasser vores tilgang, så den passer bedst muligt til deres situation. Vi arbejder også tæt sammen med børnenes familier og netværk, da vi tror på, at et stærkt samarbejde mellem alle parter er afgørende for at skabe de bedste resultater for barnet.<br/><br/>
                
                    Vi brænder for at skabe en tryg og støttende hverdag, hvor glæde, tillid og venskab er en del af hverdagen. Vi ved, at det kan være en stor udfordring at skabe tillid, især for børn og unge, der har oplevet svære ting i deres liv, men vi tror på, at det er gennem trygge relationer og faste rammer, at denne tillid kan opbygges. Gennem vores fællesskab styrker vi den enkelte til at håndtere livets udfordringer og opbygge selvtillid. Vi lærer børnene at sætte ord på deres følelser, løse konflikter på en konstruktiv måde og tage ansvar for sig selv og hinanden. Hos Soranahus er vi mere end bare et hjem - vi er et sted, hvor børn og unge føler sig set, hørt og værdsat, og hvor de kan udvikle sig i deres eget tempo med den støtte, de har brug for.<br/><br/>
                
                    Vi ser frem til at byde dig velkommen til Soranahus, hvor vi sammen kan skabe tryghed, glæde og udvikling. Vi er her for at støtte hvert barn og ung, så de kan få mulighed for at skabe en lys fremtid fyldt med håb og muligheder. Hos Soranahus tror vi på, at alle børn og unge har noget unikt at bidrage med, og vi arbejder hver dag for at hjælpe dem med at opdage deres styrker og potentiale. Sammen kan vi skabe en hverdag fyldt med små sejre, stor glæde og et stærkt fællesskab, hvor ingen står alene.
                </p>
            
        </div>

    <div class="clearFix"></div>

    <div class="w3-display-container">
        <h2 >Børne- og ungehjem - Udtalelser</h2>
        <div class="w3-display-container">
            <div >
                <h3>Meget kompetente</h3><br/>
                <p>
                    "Personalet formår at give de unge mennesker en tryg hverdag<br/>
                    i faste rammer. De har de unges respekt og gennem deres<br/>
                    faglighed når de ind til de unge. Vi har været meget tilfredse."<br/><br/>

                    <span>Karina Elvison Bjørn</span> – Odense
                </p>
            </div>
        </div>
        <div>
            <div>
                <h3>Familieterapien på soranahus</h3><br/>
                <p>
                    "Familieterapien på Soranahus har gjort vores familie stærk<br/>
                    igen, nu blomstrer vi sammen – ikke hver for sig."<br/><br/>

                    • Vi har lært at være ærlige sammen<br/>
                    • Vi kan rumme hinanden<br/>
                    • Vi kender hinanden, som vi er<br/>
                    • Vi respekterer hinanden<br/><br/>

                    <span>Heidi Søgaard</span>
                </p>
            </div>
        </div>
    </div>

    <div class="clearFix"></div>

    <div>
        <div>
            <div class="w3-display-container">
                <div class="w3-display-topmiddle">
                    <i class="fa-solid fa-house-user"></i>
                    <h3>Målgruppe</h3>
                    <p>Barnets Lov (BL) paragraf §43 (børne- og ungehjem) BL paragraf §114 (ungestøtte), samt Serviceloven §107 (midlertidigt voksentilbud).</p>
                </div>
            </div>
            <div class="w3-display-container">
                <div class="w3-display-topmiddle">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <h3>Sagsbehandler</h3>
                    <p>Find oplysninger om visitationsproces, priser etc.</p>
                </div>
            </div>
        </div>
        <div>
            <div class="w3-display-container">
                <div class="w3-display-topmiddle">
                    <i class="fa fa-child" aria-hidden="true"></i>
                    <h3>At bo her</h3>
                    <p>Til dig der overvejer at vælge Soranahus.</p>
                </div>
            </div>
            <div class="w3-display-container">
                <div class="w3-display-topmiddle">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <h3>Familiesamarbejde</h3>
                    <p>Familiesupervision er en integreret del af døgnanbringelsen.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="clearFix"></div>

    <div class="w3-display-container">
        <img class="w3-display-middle" src="images/bornetelefonen.png" alt="Børnetelefonen"/>
    </div>

    <div class="clearFix"></div>
</div>
<!---->